@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


.header{
    color: rgb(0, 0, 101);
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
}

.choose-file-cont {
    
}

.choose-file {
    
}

.contain{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    margin: 0;
}
.con-file-out{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 0 30px;
    margin-top: 20px;
}
.cont-head{
    padding: 5px 30px;
}
.header-btn{
    width: 100px;
    padding: 5px 10px;
    color: white;
    border: 1px solid rgb(0, 0, 135);;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(0, 0, 135);
    cursor: pointer;
    transition: 0.25s;
} 

.header-btn:hover {
    background-color: transparent;
    color: rgb(0, 0, 135);
    border: 1px solid rgb(0, 0, 135);
}


.input-head{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 0;
    margin: 0;
    margin-top: 10px;
}

.cont-file{
    border: 1.5px solid rgb(0, 0, 135);
}



.cont-output {
    border: 1.5px solid rgb(0, 0, 135);
    
}

.form-content{
    display: flex;
    flex-direction: column;

}

.textArea {
    height: 300px;
    padding: 0 20px;
    border: none;
    resize: none;

}

.textArea:focus {
    outline: none;
}

.btn-container{
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.submit-btn{
    width: 100px;
    padding: 5px 10px;
    color: white;
    border: 1px solid rgb(0, 0, 135);;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(0, 0, 135);
    cursor: pointer;
    transition: 0.25s;
}

.submit-btn:hover{
    background-color: transparent;
    color: rgb(0, 0, 135);
    border: 1px solid rgb(0, 0, 135);
}

.output-cont{
    padding: 30px;
    padding-bottom: 10px;
    height: 50vh;
    overflow-y: scroll;
}